.github-jobs-promotion {
  display: none;
}
.wrapper.sticky-enabled {
  padding-top: 49px;
}
.wrapper.sticky-enabled .header.header-logged-in {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 49px;
  z-index: 9999;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.wrapper.sticky-enabled .header.header-logged-in.nav-up {
  transform: translateY(-50px);
}
.tweetbox .tweetbox-boxed {
  position: relative;
}
.tweetbox .tweetbox-main {
  padding: 10px;
}
.tweetbox textarea {
  resize: none;
  width: 100%;
}
.tweetbox .form-actions {
  margin-top: 10px;
}
.tweetbox .tweetbox-override,
.tweetbox .tweetbox-guest {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.7;
}
.tweetbox .tweetbox-guest {
  opacity: 1;
  background-color: transparent;
  text-align: center;
  padding-top: 50px;
}
.tweetbox .tweetbox-guest a:hover {
  text-decoration: none;
}
body .octotree_sidebar {
  z-index: 10000;
}
