.github-jobs-promotion
  display none
 
 $zIndex = 9999
.wrapper.sticky-enabled 
  padding-top 49px
  .header.header-logged-in
    position fixed
    left 0
    right 0
    top 0
    height 49px
    z-index $zIndex
    transform translateY(0)
    transition transform 0.3s ease
    &.nav-up
      transform translateY(-50px)

.tweetbox
  .tweetbox-boxed
    position relative
  .tweetbox-main 
    padding 10px
  textarea
    resize none
    width 100%
  .form-actions
    margin-top 10px
  .tweetbox-override,.tweetbox-guest
    position absolute
    top 0
    bottom 0
    left 0 
    right 0
    background-color white
    opacity .7
  .tweetbox-guest
    opacity 1
    background-color transparent
    text-align center
    padding-top 50px
    a
      &:hover
        text-decoration none
    
// fix octotree
body
  .octotree_sidebar
    z-index $zIndex + 1