.github-jobs-promotion
  display none
 
 $zIndex = 9999
.wrapper.sticky-enabled 
  padding-top 49px
  .header.header-logged-in
    position fixed
    left 0
    right 0
    top 0
    height 49px
    z-index $zIndex
    transform translateY(0)
    transition transform 0.3s ease
    &.nav-up
      transform translateY(-50px)

.tweetbox
  .tweetbox-main 
    padding 10px
  textarea
    resize none
    width 100%
  .form-actions
    margin-top 10px
    
// fix octotree
body
  .octotree_sidebar
    z-index $zIndex + 1